# Insper: Prof Márcio

# Ciência dos dados: Engenharias

# Projeto 3: PNADC - Uso dos microdados de 2023
___

In [11]:
import pandas as pd

___
## URL das bases de dados da PNADC <br>
Os microdados dos quatro trimestre de 2023 estão armazenados, por ora, no **Dropbox da profa. Maria Kelly Venezuela**. <br>
Esses dados são de uso exclusivo dos alunos da Engenharia do Insper.

In [12]:
# PRIMEIRO TRIMESTRE DE 2023
url1 = 'https://www.dropbox.com/scl/fi/fv6fli3jyuinijotw9v6b/pnad23_1.csv?rlkey=1nq6xfd1fn7guz4nyhvwslp7p&st=qpr7odgu&dl=1'

# SEGUNDO TRIMESTRE DE 2023
url2 = 'https://www.dropbox.com/scl/fi/kvhduq8ocy2o1yj4l0ycc/pnad23_2.csv?rlkey=ni8nhwkv84xg59mp1cnd4gsto&st=yr8uiq5k&dl=1'

# TERCEIRO TRIMESTRE DE 2023
url3 = 'https://www.dropbox.com/scl/fi/ol5m8stpd50e7endyal5d/pnad23_3.csv?rlkey=kik14kn4wqbcbdsmgq44z2i4s&st=9reoxjte&dl=1'

# QUARTO TRIMESTRE DE 2023
url4 = 'https://www.dropbox.com/scl/fi/ksca0i4ybo6hno738pjcw/pnad23_4.csv?rlkey=e186niofxka6lmmlbkefr94zw&st=wntcupiu&dl=1'

___
# Leitura da base de dados - PNADC 2023:

### LEITURA DA BASE DE DADOS INTEIRA - 1o TRIMESTRE <br>
Exemplo de como ler a base de dados a partir da url. <br>
Troque o nome `url1` para o nome de outro trimestre que tenha interesse de analisar

In [13]:
pnad23_4_all = pd.read_csv(url4)

In [18]:
pnad23_4_all.Ano.value_counts()

Ano
2023    473206
Name: count, dtype: int64

___
### LEITURA DE APENAS ALGUMAS COLUNAS <br>
Para saber o significado das linhas e colunas, veja o arquivo Excel `dicionario_PNADC_microdados_trimestral.xlsx`

In [84]:
# Colunas selecionadas 1 trimestre:
colunas = ["UF", #Estado
           "Capital", #capital
           "V1023", #Tipo de área
           
         
           "V3001", #sabe ler e escrever
           "V3006", #Qual é o ano/série/semestre que ... frequenta?
           "V3007", #já concluiu algum outro curso de graduação?
           "V3008", #Anteriormente ... frequentou escola?
           
           "V3013", #Qual foi o último ano/série/semestre que ... concluiu com aprovação, neste curso que frequentou anteriormente
           "V3014", #concluiu este curso que frequentou anteriormente
           "V4001", #Na semana de ... a ... (semana de referência), ... trabalhou ou estagiou, durante pelo menos 1 hora, em alguma atividade remunerada em dinheiro?
           "V4002", #Na semana de ... a ... (semana de referência), ... trabalhou ou estagiou, durante pelo menos 1 hora, em alguma atividade remunerada em produtos, mercadorias, moradia, alimentação, etc.?
           "V4003", #Na semana de ... a ... (semana de referência), ... fez algum bico ou trabalhou em alguma atividade ocasional remunerada durante pelo menos 1 hora?  
           
           
           
           "V40121", #Trabalhador não remunerado
           
           "V403311", #Número da faixa do rendimento/retirada em dinheiro
           "V403312", #Qual era o rendimento bruto/retirada mensal que ... recebia/fazia normalmente nesse trabalho ? (valor em dinheiro)
           "V403422", #Qual foi o rendimento bruto/retirada que ... recebeu/fez nesse trabalho, no mês de referência ? (valor estimado dos produtos ou mercadorias)
           
           "VD3004", #Nível de instrução mais elevado alcançado (pessoas de 5 anos ou mais de idade) padronizado para o Ensino fundamental -  SISTEMA DE 9 ANOS
           "VD3005", #Anos de estudo (pessoas de 5 anos ou mais de idade) padronizado para o Ensino fundamental - SISTEMA DE 9 ANOS
           "VD3006", #Grupos de anos de estudo (pessoas de 5 anos ou mais de idade) padronizado para o Ensino fundamental  - SISTEMA DE 9 ANOS
           
          ]

# Leitura da base de dados filtrando apenas as colunas contidas na lista `colunas`
pnad23_2_small = pd.read_csv(url2, usecols=colunas)

In [85]:
pnad23_2_small

,UF,Capital,V1023,V3001,V3006,V3007,V3008,V3013,V3014,V4001,V4002,V4003,V40121,V403311,V403312,V403422,VD3004,VD3005,VD3006
0,11,11.0,1,1.0,NaN,NaN,1.0,3.0,1.0,1.0,NaN,NaN,NaN,5.0,5000.0,NaN,5.0,12.0,5.0
1,11,11.0,1,1.0,NaN,NaN,1.0,3.0,1.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,5.0,12.0,5.0
2,11,11.0,1,1.0,NaN,NaN,1.0,10.0,1.0,1.0,NaN,NaN,NaN,4.0,3500.0,NaN,7.0,16.0,6.0
3,11,11.0,1,1.0,NaN,NaN,1.0,3.0,1.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,5.0,12.0,5.0
4,11,11.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474570,53,53.0,1,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN,6.0,10000.0,NaN,7.0,16.0,6.0
474571,53,53.0,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,3.0,2500.0,NaN,7.0,16.0,6.0
474572,53,53.0,1,1.0,NaN,NaN,1.0,4.0,1.0,1.0,NaN,NaN,NaN,5.0,5000.0,NaN,7.0,14.0,5.0
474573,53,53.0,1,1.0,NaN,NaN,1.0,8.0,1.0,1.0,NaN,NaN,NaN,5.0,5000.0,NaN,7.0,16.0,6.0
474574,53,53.0,1,1.0,1.0,2.0,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,NaN,5.0,12.0,5.0

In [87]:
cols ={"V1023":"Tipo de área",
                               #"V1022":"Situação do domicílio",
                               "V3001":"alfabetizado?",
     
                               "V3006":"ano/série/semestre que frequenta", 
                               "V3007":"já concluiu alguma graduação",
                               "V3008":"frequentou escola?",
                               
                               #"V3012":"concluiu com aprovação, pelo menos a primeira série",
                               "V3013":"último ano/série/semestre que concluiu com aprovação",
                               "V3014":"concluiu o curso",
                               "V4001":"Na semana trabalhou ou estagiou, durante pelo menos 1 hora, em atividade remunerada em dinheiro",
                               "V4002":"Na semana trabalhou ou estagiou, durante pelo menos 1 hora, em alguma atividade remunerada em outra espécie?",
                               "V4003":"Na semana fez algum bico ou trabalhou em alguma atividade ocasional remunerada durante pelo menos 1 hora?",
                               #"V4004":"Na semana ajudou durante pelo menos 1 hora, sem receber pagamento, no trabalho remunerado de algum morador do domicílio ou de parente?",
                               #"V4009":"Quantos trabalhos tinha na semana", 
                               #"V4010":"Código da ocupação (cargo ou função)",  
                               #"V4012":"Nesse trabalho, era:",
                               "V40121":"Trabalhador não remunerado",
                               #"V4013":"Código da principal atividade desse negócio/empresa", 
                               "V403311":"Número da faixa do rendimento/retirada em dinheiro",
                               "V403312":"rendimento bruto mensal em dinheiro",
                               "V403422":"Qual foi o rendimento bruto, valor estimado dos produtos ou mercadorias",
                               #"VD2003":"Número de componentes do domicílio (exclusive pensionista, empregado doméstico ou parente do empregado doméstico",
                               #"VD2004":"Espécie da unidade doméstica",
                               "VD3004":"Nível de instrução mais elevado alcançado (>= 5 anos)",
                               "VD3005":"Anos de estudo (>= 5 anos)",
                               "VD3006":"Grupos de anos de estudo (>= 5 anos)",
                               #"VD4001":"Condição em relação à força de trabalho na semana de referência para pessoas de 14 anos ou mais de idade",
                               #"VD4002":"Condição de ocupação na semana de referência para pessoas de idade >= 14 anos"
      }

In [88]:
pnad23_2_small.rename(columns = cols, inplace=True)

pnad23_2_small

,UF,Capital,Tipo de área,alfabetizado?,ano/série/semestre que frequenta,já concluiu alguma graduação,frequentou escola?,último ano/série/semestre que concluiu com aprovação,concluiu o curso,"Na semana trabalhou ou estagiou, durante pelo menos 1 hora, em atividade remunerada em dinheiro","Na semana trabalhou ou estagiou, durante pelo menos 1 hora, em alguma atividade remunerada em outra espécie?",Na semana fez algum bico ou trabalhou em alguma atividade ocasional remunerada durante pelo menos 1 hora?,Trabalhador não remunerado,Número da faixa do rendimento/retirada em dinheiro,rendimento bruto mensal em dinheiro,"Qual foi o rendimento bruto, valor estimado dos produtos ou mercadorias",Nível de instrução mais elevado alcançado (>= 5 anos),Anos de estudo (>= 5 anos),Grupos de anos de estudo (>= 5 anos)
0,11,11.0,1,1.0,NaN,NaN,1.0,3.0,1.0,1.0,NaN,NaN,NaN,5.0,5000.0,NaN,5.0,12.0,5.0
1,11,11.0,1,1.0,NaN,NaN,1.0,3.0,1.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,5.0,12.0,5.0
2,11,11.0,1,1.0,NaN,NaN,1.0,10.0,1.0,1.0,NaN,NaN,NaN,4.0,3500.0,NaN,7.0,16.0,6.0
3,11,11.0,1,1.0,NaN,NaN,1.0,3.0,1.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,5.0,12.0,5.0
4,11,11.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474570,53,53.0,1,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN,6.0,10000.0,NaN,7.0,16.0,6.0
474571,53,53.0,1,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,3.0,2500.0,NaN,7.0,16.0,6.0
474572,53,53.0,1,1.0,NaN,NaN,1.0,4.0,1.0,1.0,NaN,NaN,NaN,5.0,5000.0,NaN,7.0,14.0,5.0
474573,53,53.0,1,1.0,NaN,NaN,1.0,8.0,1.0,1.0,NaN,NaN,NaN,5.0,5000.0,NaN,7.0,16.0,6.0
474574,53,53.0,1,1.0,1.0,2.0,NaN,NaN,NaN,2.0,2.0,2.0,NaN,NaN,NaN,NaN,5.0,12.0,5.0

___

### IMPORTANTE ALTERAR DESCRIÇÃO DA CATEGORIA DAS VARIÁVEIS QUALITATIVAS 
Para saber o significado das categorias, veja o arquivo Excel `dicionario_PNADC_microdados_trimestral.xlsx`

In [90]:
for c in cols.values():
    if c != 'rendimento bruto mensal em dinheiro':
        pnad23_2_small[c] = pnad23_2_small[c].astype('category')

In [15]:
# Alterando as categorias pelas suas descrições - VEJA AULA DO NOSSO CURSO   
#pnad23_1_small.Sexo = pnad23_1_small.Sexo.cat.rename_categories({1:'Homem', 2:'Mulher'})
#pnad23_1_small.Sexo.value_counts(True).round(3)*100